#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/ibus-unikey install

#override_dh_auto_configure:
#	./configure --enable-maintainer-mode --prefix=/usr
#	or
#	dh_auto_configure -- --enable-maintainer-mode

# override_dh_auto_build:
# 	$(MAKE) -j
