#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/ibus-unikey install

override_dh_auto_configure:
	./configure --prefix=/usr --enable-maintainer-mode

override_dh_auto_build:
	$(MAKE) -j
